.Nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50px;
}

a {
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

a:hover {
    background-color: white;
    color: black;
    border-radius: 6px;
}