.Nav {
    text-align: center;
    margin-top: 10vh;
}


a {
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: 'Poppins', sans-serif;
}

a:hover {
    background-color: black;
    color: white;
    border-radius: 6px;
}