/* .Nav {
    text-align: center;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */


/* .nav-el {
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #21bb8c;
    font-family: 'Poppins', sans-serif;
} */

/* .nav-el:hover {
    background-color: #21bb8c;
    color: #fffef2;
    border-radius: 6px;
} */


/* .avatar {
    border-radius: 50%;
    height: 50px
} */

/* a {
    text-decoration: none;
    color: black;
} */

/* .logo-img {
    width: 10vh;
} */