/* .create-trip-btn {
    padding: 10px;
    font-family: Poppins;
} */

/* .trips-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
} */

/* .trips-card {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
} */